$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "definitions";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  @extend %font;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  text-transform: uppercase;
}

.panel {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li {
      position: absolute;
      line-height: 1;
      color: #fff;
      font-weight: 400;
      @include opacity(0);
      @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));

      &.price, &.release {
        bottom: 1rem;
        @include transform(translate3d(0, -20px, 0));
      }

      &.rating, &.price {
        right: 1rem;
      }

      &.rating {
        top: 1rem;
        @include transform(translate3d(0, 20px, 0));
      }

      &.release {
        left: 1rem;
      }
    }
  }
  h3 {
    font-size: 1.5rem;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
  }
  a {
    position: relative;
    display: block;
    @include transition(all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55));
    &:hover {
      @include scale(1.05);

      ul li {
        &.rating,
        &.release,
        &.price {
          @include opacity(1);
          @include transform(translate3d(0, 0, 0));
        }
      }
    }
  }
}

.block {
  a {
    display: block;
    line-height: 1;
    margin-bottom: 6px;
    color: $caribbeanGreen;
    text-transform: uppercase;
    font-weight: 600;
    @include transition(color 200ms ease);

    &:hover {
      color: darken($caribbeanGreen, 10%);
    }
  }
  h1 {
    margin: 0 0 20px;
    padding: 0 0 20px;
    border-bottom: 1px solid #666;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .cast ul {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;

    li {
      width: 50%;
      &:nth-child(2n+1) {
        padding-right: 20px;
      }
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 0 20px;
  }
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar {
    padding: 0;
    margin: 0;
  }
}

/* Custom page footer */
.footer {
  margin-top: 30px;
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
